@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1{
  margin-top: 10px;
  text-shadow: 3px 3px 8px black;
  font-family: "Roboto", sans-serif;
}

h3{
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
}

.container{
  background-color: white;
  border: 1px solid black;
  margin-top: 5%;
  width: 70%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;

}

.paragraphe{
  font-family: "Roboto", sans-serif;
}
.campus{
  width: 180px;
  float:right;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
